<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kosaShoppingMall.mappers.EmployeeMapper">
<sql id="baseColumns">
	emp_name, emp_id, emp_pw, emp_addr, emp_phone
</sql>

<insert id = "empInsert" parameterType="empDTO">
	insert into employees(<include refid="baseColumns"/>)
	values (#{empName}, #{empId}, #{empPw}, #{empAddr}, #{empPhone})
</insert>

<select id = "selectAll" resultType="empDTO">
	select emp_name empName, emp_id empId, emp_pw empPw, emp_addr empAddr, emp_phone empPhone
	from employees
</select>

<select id = "selectOne" resultType="empDTO">
	select emp_name empName, emp_id empId, emp_pw empPw, emp_addr empAddr, emp_phone empPhone
	from employees
	where emp_id = #{empId}
</select>

<update id="empUpdate" parameterType="empDTO">
	update employees
	set emp_name = #{empName}, emp_id = #{empId}, emp_addr = #{empAddr}, emp_pw = #{empPw},  emp_phone = #{empPhone}
	where emp_id = #{empId}
</update>

<delete id="empDelete" parameterType="string"> <!-- 삭제하는거니까 반환 ㄴㄴ -->
	delete from employees
	where emp_id = #{empId}
</delete>
</mapper>