<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원 상세 페이지</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#delete").click(function(){
			$.ajax({
	            type:"post",
	            url: "../memDelete",
	            data: {"num":"[[${dto.memberNum}]]"},
	            datatype: "text",
	            success : function(result){ //next페이지가 정상적으로 열렸을 때
	            	alert(result);
	            	if(result.trim() == '1'){
	            		alert("회원이 정상적으로 삭제되었습니다.");
	            		location.href="memList";
	            	}else{
	            		altert("회원이 정상적으로 삭제되지 않았습니다.")
	            		return false;
	            	}
	            },
	            error : function(){
	            	alert("에러 발생");
	            	return;
	            }
	         });
		});
	});
	function del(){
		$.ajax({
            type:"post",
            url: "../memDelete",
            data: {"num":"[[${dto.memberNum}]]"},
            success : function(result){ //next페이지가 정상적으로 열렸을 때
            	alert(result);
            	if(result.trim() == '1'){
            		alert("회원이 정상적으로 삭제되었습니다.");
            		location.href="../memList";
            	}else{
            		altert("회원이 정상적으로 삭제되지 않았습니다.")
            		return false;
            	}
            },
            error : function(){
            	alert("에러 발생");
            	return;
            }
            
         });
			
		};
	
</script>
</head>
<body>
-------------------------------------------------------------------------<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원 상세 페이지 입니다.<br/>
-------------------------------------------------------------------------<br/><br/>

회원 번호: [[${dto.memberNum}]]<br/>
회원 아이디: [[${dto.memberId}]]<br/>
회원 이름: [[${dto.memberName}]]<br/>
회원 생년월일: <span th:text="${#dates.format(dto.memberBirth,'yyyy-MM-dd')}"></span><br/>
회원 주소: [[${dto.memberAddr}]]<br/>
회원 등록일: <span th:text="${#dates.format(dto.memberRegist,'yyyy-MM-dd')}"></span><br/>
회원 연락처: [[${dto.memberPhone}]]<br/>
회원 이메일: [[${dto.memberEmail}]]<br/>
성별: <span th:if="${dto.gender == 'M'}" th:text="남자" ></span>
	  <span th:if="${dto.gender == 'F'}" th:text="여자" ></span><br/>

<!-- ../memberModify -->
<!-- 
<a href="memList" >회원리스트</a> | 
<a th:href="@{memModify(num=${dto.memberNum })}" >회원 수정</a> |
<a th:href="@{memDelete(num=${dto.memberNum })}" >회원 삭제</a> 
-->

<form action="../memModify" method="get">
<input type="hidden" name="memberNum" th:value="${dto.memberNum}">
<input type="submit" value="회원 수정">
<input type="button" value="jquery삭제" id="delete">
<input type="button" value="function삭제" onclick="del();">
</form>
<!-- pathVariable로 할때는 주소 하나씩 줄여줘야 댄다 -->
<!-- href="@{../memDelete(num=${dto.memberNum})}" -->

<a href="javascript.del();">삭제</a>
</body>
</html>