<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>직원 등록 페이지</title>
</head>
<script></script>
<body>
<form action="empWrite" metdod="post" name="frm" id="frm">
<table>
<tr><th colspan = 3>직원 등록 페이지</th></tr>
<tr><td>아이디</td> <td>:</td><td><input type="text" name="empId" required="required"/></td></tr>
<tr><td>비밀번호</td> <td>:</td><td><input type="password" name="empPw"/></tr>
<tr><td>비밀번호확인</td> <td>:</td><td><input type="password" name="empPwCon"/></tr>
<tr><td>이름</td> <td>:</td><td><input type="text" name="empName"/></tr>
<tr><td>주소</td> <td>:</td><td><input type="text" name="empAddr"/></tr>
<tr><td>연락처</td> <td>:</td><td><input type="tel" name="empPhone"/></tr>
<td><td colspan = 3><input type="submit" value="직원 등록"/></td></tr>
</table>
</form>
</body>
</html>